body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}
/*GENERAL*/
.section-color-1 {
  background-color: #fff2cc;
}
.section-color-2 {
  background-color: #333333;
}
.text-vanilla {
  color: #fff2cc;
}
.text-dark-custom {
  color: #333333;
}
/*BARRA DE NAVEGACION*/
nav {
  background-color: #fff2cc;
}
nav .navbar-brand {
  font-weight: bold;
  font-style: italic;
}
nav .nav-link {
  font-weight: bold;
}